<!-- No uploaded files.-->
<% unless uploaded_files %>
<%=  uploaded_files = []  %>
<% end %>
<ul class="list-group mb-2">
  <% uploaded_files.each do |file| %>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <div style="white-space: nowrap;">
        <% if file.isLink %>
          <%= fa_icon 'link', :class => "text-info pr-2" %>
          <%= link_to file.data, file.data, target: "_blank", class:"align-middle d-inline-block text-break mr-4", style:"white-space: normal;" %>
        <% else %>
          <%= fa_icon 'file', :class => "text-info pr-2" %>
          <% if @lecture %>
            <%= link_to file.filename, course_lecture_uploaded_file_path(@lecture.course, @lecture, file), target: "_blank", class:"align-middle d-inline-block text-break mr-4", style:"white-space: normal;" %>
          <% else %>
            <%= link_to file.filename, course_uploaded_file_path(@course, file), target: "_blank", class:"align-middle d-inline-block text-break mr-4", style:"white-space: normal;" %>
          <% end %>
        <% end %>
      </div>
      <div>
        <small class="text-muted pr-2 d-none d-lg-inline">(last updated: <%= file.created_at.strftime("%d-%m-%Y") %>)</small>
        <!-- Might be a page where no @course or @lecture exists-->
        <% if @current_user == file.author || @current_user == @course.creator || (@lecture && @current_user == @lecture.course.creator) %>
          <% if @lecture %>
            <%= link_to (file.isLink ? 'Delete Link' : 'Delete File'), course_lecture_uploaded_file_path(@course, @lecture, file), method: :delete, class: "btn btn-sm btn-outline-danger text-nowrap", data: { confirm: 'Are you sure?' } %>
          <% else %>
            <%= link_to (file.isLink ? 'Delete Link' : 'Delete File'), course_uploaded_file_path(@course, file), method: :delete, class: "btn btn-sm btn-outline-danger text-nowrap", data: { confirm: 'Are you sure?' } %>
          <% end %>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>