<%= form_with(model: lecture, local: true, params: render_enrolment_key) do |form| %>
  <% if lecture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lecture.errors.count, "error") %> prohibited this lecture from being saved:</h2>

      <ul>
      <% lecture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :description%>
    <%= form.text_area :description, :class => "form-control" %>
  </div>
  <!-- Should not be able to be edited after the lecture has started.-->
  <% if render_enrolment_key==true %>
    <div class="form-group">
      <%= form.label :enrollment_key %>
      <%= form.text_field :enrollment_key, :class => "form-control" %>
    </div>
  <% end %>
  <div class="form-check">
    <%= form.check_box :questions_enabled, :class => "form-check-input" %>
    <%= form.label :questions_enabled, "Enable Questions", :class => "form-check-label"%>
  </div>

  <div class="form-check">
    <%= form.check_box :polls_enabled, :class => "form-check-input" %>
    <%= form.label :polls_enabled, "Enable Polls", :class => "form-check-label" %>
  </div>


  <div class="actions d-flex flex-row justify-content-between mt-2">
    <div class="float-left">
      <%= yield(:action_left) %>
    </div>
    <div class="float-left">
      <%= yield(:action_right) %>
      <%= form.submit :class => "btn btn-primary" %>
    </div>
  </div>
<% end %>
