<%= form_with(model: [@course, lecture], local: true, params: render_enrolment_key) do |form| %>
  <% if lecture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lecture.errors.count, "error") %> prohibited this lecture from being saved:</h2>

      <ul>
      <% lecture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field row">
    <%= form.label :name, :class => "col" %>
    <%= form.text_field :name, :class => "col-10" %>
  </div>

  <div class="field row">
    <%= form.label :date , :class => "col"%>
    <%= form.date_field :date, :class => "col-10"%>
  </div>

  <div class="field row">
    <%= form.label :start_time , :class => "col"%>
    <%= form.time_field :start_time, :class => "col-10"%>
  </div>

  <div class="field row">
    <%= form.label :end_time , :class => "col"%>
    <%= form.time_field :end_time, :class => "col-10"%>
  </div>

  <div class="field row">
    <%= form.label :description , :class => "col"%>
    <%= form.text_field :description, :class => "col-10"%>
  </div>
  <!-- Should not be able to be edited after the lecture has started.-->
  <% if render_enrolment_key==true %>
    <div class="field row">
      <%= form.label :enrollment_key , :class => "col" %>
      <%= form.text_field :enrollment_key, :class => "col-10" %>
  </div>
  <% end %>

  <br>

  <div class="field row">
    <%= form.label "Enable Questions" , :class => "col"%>
    <div class="col-10" style="padding-left: 0%">
      <%= form.check_box :questions_enabled, :style => "padding-right: 100%" %>
    </div>
  </div>

  <div class="field row">
    <%= form.label "Enable Polls" , :class => "col"%>
    <div class="col-10" style="padding-left: 0%">
      <%= form.check_box :polls_enabled, :style => "padding-right: 100%" %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit :class => "btn btn-primary" %>
  </div>
<% end %>
