<%= form_with(model: [@course, lecture], local: true, params: render_enrolment_key) do |form| %>
  <% if lecture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lecture.errors.count, "error") %> prohibited this lecture from being saved:</h2>

      <ul>
      <% lecture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description%>
    <%= form.text_field :description%>
  </div>
  <!-- Should not be able to be edited after the lecture has started.-->
  <% if render_enrolment_key==true %>
    <div class="field">
      <%= form.label :enrollment_key %>
      <%= form.text_field :enrollment_key %>
  </div>
  <% end %>

  <div class="field">
    <%= form.label "Enable Questions"%>
    <%= form.check_box :questions_enabled %>
  </div>

  <div class="field">
    <%= form.label "Enable Polls"%>
    <%= form.check_box :polls_enabled%>
  </div>

  <div class="actions">
    <%= form.submit :class => "btn btn-primary" %>
  </div>
<% end %>
