<%= form_with(model: [@course, lecture], local: true, params: render_enrolment_key) do |form| %>
  <% if lecture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lecture.errors.count, "error") %> prohibited this lecture from being saved:</h2>

      <ul>
      <% lecture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if lecture.ended? %>
    <div class="alert alert-success notice" role="alert">
      This lecture has been archived and can no longer be modified
    </div>
  <% end %>

  <div class="name row">
    <%= form.label :name, class: "col-sm-3 col-form-label" %>
    <% if lecture.ended? %>
      <%= form.text_field :name, :readonly => true, class: "col-sm-9" %>
    <% else %>
      <%= form.text_field :name, class: "col-sm-9" %>
    <% end %>
  </div>

  <div class="description row">
    <%= form.label :description, class: "col-sm-3 col-form-label" %>
    <% if lecture.ended? %>
      <%= form.text_field :description, :readonly => true, class: "col-sm-9" %>
    <% else %>
      <%= form.text_field :description, class: "col-sm-9" %>
    <% end %>
  </div>
  <!-- Should not be able to be edited after the lecture has started.-->
  <% if render_enrolment_key==true %>
    <div class="enrollment-key row">
      <%= form.label :enrollment_key, class: "col-sm-3 col-form-label" %>
      <% if lecture.ended? %>
        <%= form.text_field :enrollment_key, :readonly => true, class: "col-sm-9" %>
      <% else %>
        <%= form.text_field :enrollment_key, class: "col-sm-9" %>
      <% end %>
    </div>
  <% end %>

  <div class="enable-questions row checkbox">
    <%= form.label "Enable Questions", class: "col-sm-3 col-form-label"%>
    <% if lecture.ended? %>
      <div class="checkbox disabled">
        <%= form.check_box :questions_enabled, :disabled => true, class: "form-check-input" %>
      </div>
    <% else %>
      <%= form.check_box :questions_enabled, class: "form-check-input" %>
    <% end %>
  </div>

  <div class="enable-polls row checkbox">
    <%= form.label "Enable Polls", class: "col-sm-3 col-form-label" %>
    <% if lecture.ended? %>
      <div class="checkbox disabled">
        <%= form.check_box :polls_enabled, :disabled => true, class: "form-check-input" %>
      </div>
    <% else %>
      <%= form.check_box :polls_enabled, class: "form-check-input" %>
    <% end %>
  </div>

  <div class="actions">
    <% if lecture.ended? %>
      <%= form.submit :class => "btn btn-primary", :disabled => true %>
    <% else %>
      <%= form.submit :class => "btn btn-primary" %>
    <% end %>
  </div>
<% end %>
