<table class="table table-sm table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Enrollment key</th>
      <th scope="col"></th>
    </tr>
  </thead>

  <tbody>
    <% lectures.each do |lecture| %>
      <tr>
        <td><%= lecture.name %></td>
        <td><%= lecture.enrollment_key %></td>
        <td class="text-right">
          <% if lecture.status == "created" %>
            <%= link_to 'Edit', edit_lecture_path(lecture), {class:"btn btn-outline-secondary"} %>
            <%= button_to "Start", {action: "start_lecture", params: {id: lecture.id}}, {class:"btn btn-primary"} %>
          <% elsif lecture.status == "running" %>
            <%= button_to "End", {action: "end_lecture", params: {id: lecture.id}}, {class:"btn btn-outline-secondary"} %>
            <%= link_to 'View', lecture, {class:"btn btn-primary"} %>
          <% else %>
            <%= link_to 'Review', lecture, {class:"btn btn-outline-secondary"} %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>