<p id="notice"><%= notice %></p>
<div class="d-flex justify-content-center my-5">
  <%= link_to 'Create Lecture', new_lecture_path, :class => "btn btn-primary btn-lg"%>
</div>
<h1>My Lectures</h1>

<table class="table .table-sm table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @lectures.each do |lecture| %>
      <tr>
        <td><%= lecture.name %></td>
        <td class="text-right">
        <% if lecture.is_running %>
          <!-- TODO Stop button -->
          <%= link_to 'View', lecture, {class:"btn btn-primary"} %>
        <% else %>
          <%= button_to "Start", {action: "start_lecture", params: {lecture: lecture.id}}, {class:"btn btn-primary"} %>
        <%end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>