<p id="notice"><%= notice %></p>


<div class="d-flex justify-content-center my-5">
<%= link_to 'Create New Lecture', new_lecture_path, :class => "btn btn-primary btn-lg"%>
</div>

<h1>Lectures</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Enrollment key</th>
      <th scope="col">Status</th>
      <th scope="col" colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @lectures.each do |lecture| %>
      <tr>
        <td><%= lecture.name %></td>
        <td><%= lecture.enrollment_key %></td>
        <td><%= lecture.status%></td>
        <td><%= link_to 'Show', lecture %></td>
        <td><%= link_to 'Edit', edit_lecture_path(lecture) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
