<div class="d-flex justify-content-center my-5">
  <%= link_to 'Create Lecture', new_course_lecture_path, :class => "btn btn-primary btn-lg"%>
</div>

<h1>My Lectures</h1>

<table class="table .table-sm table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Enrollment key</th>
      <th scope="col">Status</th>
      <th scope="col" colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @course.lectures.each do |lecture| %>
      <tr>
        <td><%= lecture.name %></td>
        <td><%= lecture.enrollment_key %></td>
        <td><%= lecture.status%></td>
        <td class="text-right">
        <% if lecture.status == "running" %>
          <%= link_to 'View', lecture, {class:"btn btn-primary"} %>
        <% else %>
          <%= button_to "Start", {action: "start_lecture", params: {id: lecture.id}}, {class:"btn btn-primary"} %>
        <%end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


