<div class="d-flex justify-content-center my-5">
  <%= link_to 'Create Lecture', new_course_lecture_path(course_id: @lecture.course.id, id:@lecture.id), :class => "btn btn-primary btn-lg"%>
</div>

<h1>My Lectures</h1>

<% if !@running_lectures.empty? %>
  <h2>Running Lectures</h2>
  <%= render 'table', lectures: @running_lectures %>
<% end %>

<% if !@created_lectures.empty? %>
  <h2>Created Lectures</h2>
  <%= render 'table', lectures: @created_lectures %>
<% end %>

<% if !@active_lectures.empty? %>
  <h2>Active Lectures</h2>
  <%= render 'table', lectures: @active_lectures %>
<% end %>

<% if !@archived_lectures.empty? %>
  <h2>Archived Lectures</h2>
  <%= render 'table', lectures: @archived_lectures %>
<% end %>
