<ul class="nav nav-tabs" id="lectureTabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="dashboard-tab" data-toggle="tab" href="#dashboard" role="tab" aria-controls="dashboard" aria-selected="true">Dashboard</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="questions-tab" data-toggle="tab" href="#questions" role="tab" aria-controls="questions" aria-selected="false">Questions</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="polls-tab" data-toggle="tab" href="#polls" role="tab" aria-controls="contact" aria-selected="false">Polls</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="feedback-tab" data-toggle="tab" href="#feedback" role="tab" aria-controls="feedback" aria-selected="false">Feedback</a>
  </li>
  <% if !@current_user.is_student %>
    <li class="nav-item">
      <a class="nav-link" id="settings-tab" data-toggle="tab" href="#settings" role="tab" aria-controls="settings" aria-selected="false">Settings</a>
    </li>
  <% end %>
</ul>

<div class="tab-content" id="lectureTabsContent">
  <div class="tab-pane fade show active" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
    <% if @current_user.is_student %>
      <h1>Updates</h1>
    <% else %>
      <h1>Questions</h1>
    <% end %>
    <%= react_component("UpdatesApp",  {user_id: current_user.id, is_student: current_user.is_student} ) %>
  </div>
  <div class="tab-pane fade" id="questions" role="tabpanel" aria-labelledby="questions-tab"></div>
  <div class="tab-pane fade" id="polls" role="tabpanel" aria-labelledby="polls-tab">
    <% for poll in @lecture.polls %>
      <ul>
        <li><%= poll.title %></li>
      </ul>
    <% end %>
  </div>
  <div class="tab-pane fade" id="feedback" role="tabpanel" aria-labelledby="feedback-tab">

    <% if @current_user.is_student %>

      <%= form_with(model: [ @lecture, @lecture.feedbacks.build ]) do |form| %>
        <p>
          <%= form.label :content %><br>
          <%= form.text_field :content %>
        </p>
        <p>
          <%= form.submit %>
        </p>
      <% end %>

    <% else %>

      <% @lecture.feedbacks.each do |feedback| %>
        <p>
          <strong>Feedback:</strong>
          <%= feedback.content %>
        </p>
      <% end %>

    <% end %>

  </div>
  <% if !@current_user.is_student %>
    <div class="tab-pane fade" id="settings" role="tabpanel" aria-labelledby="settings-tab"></div>
  <% end %>
</div>

<table>
  <tr>
    <td><%= link_to 'Back', lectures_path, {class:"btn btn-link"} %> | </td>
    <% if @current_user.is_student %>
      <td><%= button_to "Leave Lecture", {action: "leave_lecture", params: {id: @lecture.id}}, {class:"btn btn-link"} %> </td>
    <% else %>
      <td><%= link_to 'Edit', edit_lecture_path(@lecture), {class:"btn btn-link"} %> | </td>
      <% if @lecture.status == "running" %>
        <td><%= link_to 'New Poll', new_lecture_poll_path(@lecture), {class:"btn btn-link"} %> | </td>
        <td><%= button_to "End", {action: "end_lecture", params: {id: @lecture.id}}, {class:"btn btn-link"} %> </td>
      <%end %>
    <% end %>
  </tr>
</table>