<p>
  <strong>Name:</strong>
  <%= @lecture.name %>
</p>

<p>
  <strong>Enrollment key:</strong>
  <%= @lecture.enrollment_key %>
</p>

<p>
  <strong>Status:</strong>
  <%= @lecture.status%>
</p>

<h2>Polls</h2>
<% for poll in @lecture.polls %>
  <ul>
    <li><%= poll.title %></li>
  </ul>
<% end %>

<table>
  <tr>
    <td colspan="2"><%= link_to 'Edit', edit_lecture_path(@lecture), {class:"btn btn-link"} %> | </td>
    <td colspan="2"><%= link_to 'Back', lectures_path, {class:"btn btn-link"} %> | </td>
    <% if @lecture.status == "running" %>
      <td colspan="2"><%= link_to 'New Poll', new_lecture_poll_path(@lecture), {class:"btn btn-link"}  %> | </td>
      <td colspan="2"><%= button_to "End", {action: "end_lecture", params: {id: @lecture.id}}, {class:"btn btn-link"} %> </td>
    <%end %>
  </tr>
</table>