<%= render 'tabbar', current_user: @current_user %>

<div class="tab-content" id="lectureTabsContent">
  <div class="tab-pane fade show active" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab"></div>
  <div class="tab-pane fade" id="questions" role="tabpanel" aria-labelledby="questions-tab"></div>
  <div class="tab-pane fade" id="polls" role="tabpanel" aria-labelledby="polls-tab">
    <h2>Polls</h2>
    <% for poll in @lecture.polls %>
      <ul>
        <li><%= poll.title %></li>
      </ul>
    <% end %>
  </div>
  <div class="tab-pane fade" id="feedback" role="tabpanel" aria-labelledby="feedback-tab">

    <% if @current_user.is_student %>

      <%= form_with(model: [ @lecture, @lecture.feedbacks.build ]) do |form| %>
        <p>
          <%= form.label :content %><br>
          <%= form.text_field :content %>
        </p>
        <p>
          <%= form.submit %>
        </p>
      <% end %>

    <% else %>

      <% @lecture.feedbacks.each do |feedback| %>
        <p>
          <strong>Feedback:</strong>
          <%= feedback.content %>
        </p>
      <% end %>

    <% end %>

  </div>
  <% if !@current_user.is_student %>
    <div class="tab-pane fade" id="settings" role="tabpanel" aria-labelledby="settings-tab"></div>
  <% end %>
</div>

<table>
  <tr>
    <td><%= link_to 'Back', lectures_path, {class:"btn btn-link"} %> | </td>
    <% if !@current_user.is_student %>
      <td><%= link_to 'Edit', edit_lecture_path(@lecture), {class:"btn btn-link"} %> | </td>
      <% if @lecture.status == "running" %>
        <td><%= link_to 'New Poll', new_lecture_poll_path(@lecture), {class:"btn btn-link"} %> | </td>
      <%end %>
    <% end %>
  </tr>
</table>