<p>
  <strong>Name:</strong>
  <%= @lecture.name %>
</p>

<p>
  <strong>Enrollment key:</strong>
  <%= @lecture.enrollment_key %>
</p>

<p>
  <strong>Status:</strong>
  <%= @lecture.status%>
</p>

<%= link_to 'Edit', edit_lecture_path(@lecture) %> |
<%= link_to 'Back', lectures_path %>
