<div class="jumbotron">
  <h1 class="display-4">HPI Lecture Portal</h1>
  <p class="lead">A Portal for organizing and administering lectures.</p>
  <hr class="my-4">
  <p class="lead">
    <%# fa_icon helper: https://github.com/bokmann/font-awesome-rails %>
    <% if user_signed_in? == false %>
      <%= link_to (fa_icon 'sign-in', text: 'Log-In'), new_user_session_path, class: 'btn btn-primary btn-lg' %>
      <%= link_to (fa_icon 'user-plus', text: 'Sign-Up'), new_user_registration_path, class: 'btn btn-secondary btn-lg' %>
    <% else %>
      <% if !@current_user.is_student %>
        <%= link_to (fa_icon 'graduation-cap', text: 'New Course'), new_course_path, class: 'btn btn-secondary btn-lg' %>

        <p class="lead">My Lectures</p>
        <table class="table .table-sm table-striped">
          <thead>
          <tr>
            <th style="width: 25%">Name</th>
            <th style="width: 15%" scope="col">End Time</th>
            <th style="width: 60%" scope="col"></th>
          </tr>
          </thead>
          <% @courses.each do |course| %>
            <% course.lectures.each do |lecture| %>
              <% if lecture.status == "running" %>
                <tr>
                  <td><%= lecture.name %></td>
                  <td>
                    <%if lecture.end_time %>
                      <%= lecture.end_time.strftime("%H:%M")  %>
                    <% end %>
                  </td>
                  <td class="text-right">
                    <%= button_to "View", course_lecture_path(course_id: lecture.course.id, id: lecture.id), :method => "get", class: "btn btn-primary" %>
                  </td>
                </tr>
              <% end %>
            <% end %>
          <% end %>
        </table>

        <p class="lead">My Courses</p>
        <table class="table .table-sm table-striped">
          <% @courses.each do |course| %>
            <tr>
              <td><%= course.name %></td>
              <td class="text-right">
                <% if course.status == "open" %>
                  <%= link_to 'View', course, {class: "btn btn-primary"} %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </table>
      <% else %>

        <p class="lead">My Lectures</p>

        <table class="table .table-sm table-striped">
          <thead>
          <tr>
            <th style="width: 25%">Name</th>
            <th style="width: 15%" scope="col">End Time</th>
            <th style="width: 60%" scope="col"></th>
          </tr>
          </thead>

          <% Lecture.where(course: @participating_courses).each do |lecture| %>
            <% if lecture.status == "running" || lecture.status == "active" %>
              <tr>
                <td><%= lecture.course.name %> - <%= lecture.name %></td>
                <td>
                  <%if lecture.end_time %>
                    <%= lecture.end_time.strftime("%H:%M")  %>
                  <% end %>
                </td>
                <td class="text-right" >
                <% if @participating_lectures.include?(lecture)  %>
                  <%= button_to "View", course_lecture_path(course_id: lecture.course.id, id: lecture.id), :method => "get", class: "btn btn-primary" %>
                <% elsif lecture.enrollment_key_present? && !@participating_lectures.include?(lecture)%>
                  <%= form_tag join_lecture_path(:course_id => lecture.course.id, :id => lecture.id, method: :post, autocomplete: "off") do -%>
                    <%= text_field :lecture, :enrollment_key%>
                    <%= submit_tag 'Join', class: "btn btn-primary" %>
                  <% end %>
                <% else %>
                  <%= button_to 'Join', join_lecture_path(:course_id => lecture.course.id, :id => lecture.id),method: :post, class: "btn btn-primary" %>
                <% end %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </table>

        <p class="lead">My Courses</p>
        <table class="table table-sm table-striped table-responsive-md" style="table-layout: fixed">
          <thead>
          <tr>
            <th class="col-sm"  scope="col">Name</th>
            <th class="col-sm"  scope="col">Description</th>
            <th class="col-sm"  scope="col" style="width: 168px"> </th>
          </tr>
          </thead>

          <% @participating_courses.each do |course| %>
            <tr>
              <td><span class="overflowing"><%= course.name %></span></td>
              <td><span class="overflowing"><%= course.description %></span></td>
              <td class="text-right"> <%= button_to "View", course_path(id: course.id), :method => "get", class: "btn btn-primary" %></td>
            </tr>
          <% end %>
        </table>

      <% end %>
      <div class="text-center mt-5">
        <%= button_to "Browse available courses", available_courses_path, :method => "get", class: "btn btn-primary" %>
      </div>
    <% end %>

  </p>
</div>

<% if user_signed_in? && @current_user.is_student %>
  <script> 
    $(document).on("turbolinks:load", function() {
      initLectureStatusUpdating(function(lecture_id, course_id) {
        return <%= @participating_lectures.map { |i| i.id } %>.includes(lecture_id) 
      });
    }); 
  </script>
<% end %>
