<div class="jumbotron">
  <h1 class="display-4">HPI Lecture Portal</h1>
  <p class="lead">A Portal for organizing and administering lectures.</p>
  <hr class="my-4">
  <p>It comes with many very good features.</p>
  <p class="lead">
    <%# fa_icon helper: https://github.com/bokmann/font-awesome-rails %>
    <%= link_to (fa_icon 'sign-in', text: 'Log-In'), new_user_session_path, class: 'btn btn-primary btn-lg' %>
    <%= link_to (fa_icon 'user-plus', text: 'Sign-Up'), new_user_registration_path, class: 'btn btn-secondary btn-lg' %>
    <% if user_signed_in? %>
      <% if !@current_user.is_student %>
        <%= link_to (fa_icon 'graduation-cap', text: 'New Course'), new_course_path, class: 'btn btn-secondary btn-lg' %>
        <br>
        <p class="lead">My Courses</p>
        <table class="table .table-sm table-striped">
          <% @courses.each do |course| %>
            <tr>
              <td><%= course.name %></td>
              <td class="text-right">
                <% if course.status == "open" %>
                  <%= link_to 'View', course, {class:"btn btn-primary"} %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </table>
      <% else %>

        <p class="lead">My Lectures</p>
        <table class="table .table-sm table-striped">
          <thead>
          <tr>
            <th style="width: 25%">Name</th>
            <th style="width: 100%" scope="col">End Time</th>
            <th scope="col" colspan="3"></th>
          </tr>
          </thead>

          <% Lecture.where(course: @participating_courses).each do |lecture| %>
            <% if lecture.status == "running" %>
              <tr>
                <td><%= lecture.course.name %> - <%= lecture.name %></td>
                <td><%= lecture.end_time.strftime("%H:%M")  %></td>
                <% if @participating_lectures.include?(lecture)  %>
                  <td><%= button_to "View", course_lecture_path(course_id: lecture.course.id, id: lecture.id), :method => "get", class:"btn btn-primary" %></td>
                <% else %>
                  <td><%= link_to "Join", join_lecture_path(:course_id => lecture.course.id, :id => lecture.id), method: :post, class:"btn btn-primary" %></td>
                <% end %>
              </tr>
            <% end %>
          <% end %>
        </table>

        <p class="lead">My Courses</p>
        <table class="table .table-sm table-striped">
          <thead>
          <tr>
            <th class="col-sm-8"  scope="col">Name</th>
            <th scope="col" colspan="3"></th>
          </tr>
          </thead>

          <% @participating_courses.each do |course| %>
            <tr>
              <td><%= course.name %></td>
              <td><%= button_to "View", course_path(id: course.id), :method => "get", class:"btn btn-primary" %></td>
              <td><%= link_to "Leave", leave_course_path(id: course.id), method: :post, class:"btn btn-primary" %></td>
            </tr>
          <% end %>
        </table>

        <p class="lead">Available Courses</p>
        <table class="table .table-sm table-striped">
          <thead>
          <tr>
            <th class="col-sm-8" scope="col">Name</th>
            <th scope="col" colspan="3"></th>
          </tr>
          </thead>
          <% @open_courses.each do |course| %>
            <tr>
              <td><%= course.name %></td>
              <td><%= link_to "Join", join_course_path(id: course.id), method: :post, class:"btn btn-primary" %></td>
            </tr>
          <% end %>
        </table>
      <% end %>
    <% end %>

    </p>
    </div>
