<div class="jumbotron">
  <h1 class="display-4">HPI Lecture Portal</h1>
  <p class="lead">A Portal for organizing and administering lectures.</p>
  <hr class="my-4">
  <p>It comes with many very good features.</p>
  <p class="lead">
    <%# fa_icon helper: https://github.com/bokmann/font-awesome-rails %>
    <%= link_to (fa_icon 'sign-in', text: 'Log-In'), new_user_session_path, class: 'btn btn-primary btn-lg' %>
    <%= link_to (fa_icon 'user-plus', text: 'Sign-Up'), new_user_registration_path, class: 'btn btn-secondary btn-lg' %>
    <% if user_signed_in? && !@current_user.is_student %>
      <%= link_to (fa_icon 'graduation-cap', text: 'New Course'), new_course_path, class: 'btn btn-secondary btn-lg' %>
    <br>
    <p class="lead">My Courses</p>
      <table>
      <% @courses.each do |course| %>

        <tr>
          <td><%= course.name %></td>

          <td class="text-right">
            <% if course.status == "open" %>
              <%= link_to 'View', course, {class:"btn btn-primary"} %>
            <%end %>
          </td>
        </tr>
      <% end %>
      </table>
    <% end %>

    <% if user_signed_in? && @current_user.is_student %>
      <p class="lead">Available Courses</p>
      <table>
        <% @open_courses.each do |course| %>

          <tr>
              <td><%= course.name %></td>
            <%#= button_to "Join", {action: "join_course", params: {id: course.id}}, {class:"btn btn-primary"} %>
              <td class="text-right"> <%= link_to 'View', course, {class:"btn btn-primary"} %></td>
          </tr>


        <% end %>
      </table>
    <% end %>



  </p>
</div>
