<p id="notice"><%= notice %></p>

<h1>Uploaded Files</h1>

<table>
  <thead>
    <tr>
      <th>Content type</th>
      <th>Filename</th>
      <th>Data</th>
    </tr>
  </thead>

  <tbody>
    <% @uploaded_files.each do |uploaded_file| %>
      <tr>
        <td><%= uploaded_file.content_type %></td>
        <td><%= uploaded_file.filename %></td>
        <td><%= uploaded_file.data %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Upload file', new_uploaded_file_path %>
