<h1>Uploaded Files</h1>

<%= link_to 'Upload file', new_uploaded_file_path, :class => "btn btn-primary" %>

<table class="table table-sm table-striped">
  <thead>
    <tr>
      <th scope="col">Content type</th>
      <th scope="col">Filename</th>
      <th scope="col">Data</th>
    </tr>
  </thead>

  <tbody>
    <% @uploaded_files.each do |uploaded_file| %>
      <tr>
        <td><%= uploaded_file.content_type %></td>
        <td><%= uploaded_file.filename %></td>
        <td>
          <details>
            <summary>iFrame</summary>
            <iframe srcdoc="<%= uploaded_file.data %>" sandbox frameborder="0"></iframe>
          </details>
          <details>
            <summary>RAW</summary>
            <pre style="width: 50vw; min-width: 300px;"><%= uploaded_file.data %></pre>
          </details>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
