<%= form_with(model: [@lecture, @poll], local: true) do |form| %>
  <% if @poll.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@poll.errors.count, "error") %> prohibited this poll from being saved:</h2>

      <ul>
      <% @poll.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :is_multiselect %>
    <%= form.check_box :is_multiselect %>
  </div>

  <div class="field">
    <%= form.label :is_active %>
    <%= form.check_box :is_active %>
  </div>

  <div class="field">
    <%= react_component("PollOption", @poll.poll_options.length>1 ? {options: @poll.poll_options.map{|option| option.description}} : {options: ["", ""]}) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>
