<h1>Polls</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Lecture</th>
      <th>Is multiselect</th>
      <th>Is active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @polls.each do |poll| %>
      <tr>
        <td><%= poll.lecture.name %></td>
        <td><%= poll.title %></td>
        <td><%= poll.is_multiselect %></td>
        <td><%= poll.is_active %></td>
        <td><%= link_to 'Show', lecture_poll_path(@lecture, poll) %></td>
        <td><%= link_to 'Edit', edit_lecture_poll_path(@lecture, poll) %></td>
        <td><%= link_to 'Destroy', [@lecture, poll], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Poll', new_lecture_poll_path(@lecture) %> |
<%= link_to 'Back', [@lecture] %>
