<p>
  <strong>Title:</strong>
  <%= @poll.title %>
</p>

<p>
  <strong>Is multiselect:</strong>
  <%= @poll.is_multiselect %>
</p>

<p>
  <strong>Is active:</strong>
  <%= @poll.is_active %>
</p>

<table class="table .table-sm table-striped">
  <thead>
    <tr>
      <th>Options</th>
      <% if !@poll.is_active? %>
        <th>Votes</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% for option in @poll.poll_options %>
      <tr>
        <td><%= option.description %></td>
        <% if !@poll.is_active? %>
        <td class="text-right">
            <%= option.votes %>
           <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>



<%= link_to 'Edit', edit_lecture_poll_path(@lecture, @poll) %> |
<%= link_to 'Back', lecture_polls_path(@lecture) %>
