<p>
  <strong>Title:</strong>
  <%= @poll.title %>
</p>

<p>
  <strong>Is multiselect:</strong>
  <%= @poll.is_multiselect %>
</p>

<p>
  <strong>Is active:</strong>
  <%= @poll.is_active %>
</p>

<h3>Voting Results</h3>
<!-- <% if Answer.where(poll_id: @poll.id).count(:student_id) != 0 %>--> 
  <div>
    <%= react_component("PollResultApp",  {lecture_id: @lecture.id, poll_id: @poll.id, poll_option_ids: @poll.poll_options.map{|option| option.id}} ) %>
  </div>
  <% if !@poll.is_active? %>
    <p><strong>Total Number of Participants: </strong><%= Answer.where(poll_id: @poll.id).distinct.count(:student_id) %></p>
  <% end %>
<!-- <% end %> -->


<%= link_to 'Edit', edit_lecture_poll_path(@lecture, @poll) %> |
<%= link_to 'Back', lecture_polls_path(@lecture) %>
