<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @poll.title %>
</p>

<p>
  <strong>Is multiselect:</strong>
  <%= @poll.is_multiselect %>
</p>

<%= link_to 'Edit', edit_lecture_poll_path(@lecture, @poll) %> |
<%= link_to 'Back', lecture_polls_path(@lecture) %>
