<% if !@current_user.is_student %>
  <div class="d-flex justify-content-center my-5">
    <%= link_to 'Create Lecture', new_course_lecture_path(@course), :class => "btn btn-primary btn-lg"%>
  </div>
<% end %>

<h2> <%= @course.name %> </h2>
<h4> <%= @course.description %> </h4>
<br>
<h3> Currently running lectures </h3>

<!-- Describes the currently running lectures table -->
<table class="table .table-sm  ">
  <thead>
  <tr>
    <th style="width: 15%">Name</th>
    <th style="width: 10%" scope="col">End Time</th>
    <th style="width: 75%" scope="col">Status</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <% @course.lectures.each do |lecture| %>
    <% if lecture.status =="running" %>
      <tr class="border-orange">
        <td><%= lecture.name %></td>
        <td><%= lecture.end_time.strftime("%H:%M")  %></td>
        <td><%= lecture.status%></td>

        <% if !@current_user.is_student%>
          <% if lecture.status == "running" %>
            <td></td>
            <td class="text-right">
              <%= link_to 'View', course_lecture_path(:course_id => @course.id, :id => lecture.id), {class:"btn btn-primary"} %>
            </td>
            <td class="text-right">
              <%= link_to 'End', end_lecture_path(:course_id => @course.id, :id => lecture.id), method: :post, class:"btn btn-primary" %>
            </td>
          <% else %>
            <% if lecture.status == "created" %>
              <td class="text-right">
                <%= link_to 'Start', start_lecture_path(:course_id => @course.id, :id => lecture.id), method: :post, class:"btn btn-primary"%>
              </td>
            <% end %>
            <td></td>
          <% end %>
          <td class="text-right">
            <%= link_to 'Edit', edit_course_lecture_path(:course_id => @course.id, :id => lecture.id), {class:"btn btn-primary"} %>
          </td>
        <% end %>
        <% if @current_user.is_student%>
          <% if lecture.status == "running"%>
            <% if lecture.participating_students.include?(@current_user)%>
              <td  class="text-right">
                <%= link_to 'View', course_lecture_path(:course_id => @course.id, :id => lecture.id), {class:"btn btn-primary"} %>
              </td>
            <% else %>
              <td class="text-right">
                <%= link_to "Join", join_lecture_path(:course_id => @course.id, :id => lecture.id), method: :post, class:"btn btn-primary" %>
              </td>
            <% end %>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>

<br>

<% if !@course.lectures.empty? %>
  <h2>All Lectures</h2>
  <%= render 'table', course: @course %>
<% end %>


<% if @current_user.is_student %>
  <%= link_to "Leave", leave_course_path(id: @course.id), method: :post, class:"btn btn-primary" %> |
<% end %>
<% if !@current_user.is_student %>
  <%= link_to 'Edit', edit_course_path(@course) %> |
<% end %>
<%= link_to 'Back', root_path %>
