<p id="notice"><%= notice %></p>

<div class="d-flex justify-content-center my-5">
  <%= link_to 'Create Lecture', new_course_lecture_path(@course), :class => "btn btn-primary btn-lg"%>
</div>

<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @course.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @course.status %>
</p>

<p>----------------------</p>

<% @course.lectures.each do |lecture| %>
  <p>
    <strong>Name</strong>
    <%= lecture.name %>
  </p>
  <p>
    <strong>Status</strong>
    <%= lecture.status %>
  </p>
  <p>
    <strong>Status</strong>
    <%= lecture.created_at %>
  </p>
<% end %>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
