<% if !@current_user.is_student %>
  <div class="d-flex justify-content-center my-5">
    <%= link_to 'Create Lecture', new_course_lecture_path(@course), :class => "btn btn-primary btn-lg"%>
  </div>
<% end %>

<h2> <%= @course.name %> </h2>
<h4> <%= @course.description %> </h4>
<br>

<% if !@course.lectures.empty? %>
  <h2> Currently running lectures </h2>
  <%= render 'table_only_running', course: @course %>
<% end %>

<br>

<% if !@course.lectures.empty? %>
  <h2>All Lectures</h2>
  <%= render 'table_not_running', course: @course %>
<% end %>


<% if @current_user.is_student %>
  <%= link_to "Leave", leave_course_path(id: @course.id), method: :post, class:"btn btn-primary" %> |
<% end %>
<% if !@current_user.is_student %>
  <%= link_to 'Edit', edit_course_path(@course) %> |
<% end %>
<%= link_to 'Back', root_path %>
