<% if !@current_user.is_student %>
  <div class="d-flex justify-content-center my-5">
    <%= link_to 'Create Lecture', new_course_lecture_path(@course), :class => "btn btn-primary btn-lg"%>
  </div>
<% end %>

<h1><%= @course.name %></h1>
<p class="h4"><%= @course.description %></p>
<br>

<% if !@course.lectures.empty? %>
  <h2> Currently running lectures </h2>
  <%= render 'table_only_running', course: @course %>
<% end %>

<br>

<section>
  <h2>Files</h2>
  <div class="d-flex justify-content-between nav-tabs">
    <ul class="nav w-100" id="fileTabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="files-course-tab" data-toggle="tab" href="#files-course" role="tab" aria-controls="files-course" aria-selected="true">From Course</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="files-students-tab" data-toggle="tab" href="#files-students" role="tab" aria-controls="files-students" aria-selected="false">From Students</a>
      </li>
      <li class="nav-item ml-auto">
        <%= link_to (fa_icon 'plus', text: 'Add Material'), new_course_uploaded_file_path(@course), class: "btn btn-link text-muted"%>
      </li>
    </ul>
  </div>
  <div class="tab-content" id="fileTabsContent">
    <div class="tab-pane fade show active" id="files-course" role="tabpanel" aria-labelledby="files-course-tab">
      <%= render 'components/show_uploaded_files_or_links', uploaded_files: @lecturer_files %>
    </div>
    <div class="tab-pane fade" id="files-students" role="tabpanel" aria-labelledby="files-students-tab">
      <%= render 'components/show_uploaded_files_or_links', uploaded_files: @student_files %>
    </div>
  </div>
</section>


<% if !@course.lectures.empty? %>
  <h2>All Lectures</h2>
  <%= render 'table_not_running', course: @course %>
<% end %>

<div class="d-flex flex-row justify-content-between mb-2">
  <%= link_to (fa_icon 'arrow-left', text: 'Back to Overview'), root_path, class: "btn btn-primary" %>

  <% if @current_user.is_student %>
    <%= link_to "Unenroll", leave_course_path(id: @course.id), method: :post, class: "btn btn-outline-danger" %>
  <% end %>
</div>
