<!DOCTYPE html>
<html>
  <head>
    <%= render "layouts/application-head" %>
  </head>

  <body>
    <% if !@hide_navbar %>
      <%= render "layouts/navbar" %>
    <% end %>
    <%# Bootstrap container, https://getbootstrap.com/docs/4.0/layout/overview/ %>
    <main role="main"  <%if !@hide_navbar %>class="container mt-4" <% end %>>
      <% if notice %><div class="alert alert-success notice" role="alert"><%= notice %></div><% end %>
      <% if alert %><div class="alert alert-danger" role="alert"><%= alert %></div><% end %>
      <%= yield %>
    </main>
  </body>
</html>
