<h1>User Settings</h1>
<h2>Email</h2>
<table class="table .table-sm table-striped">
  <tbody>
    <tr>
      <td><%= @current_user.email %></td>
    </tr>
  </tbody>
</table>

<h2>Calendar Feed</h2>
<table class="table .table-sm table-striped">
  <tbody>
    <tr>
      <td><%= ical_url(hash_id: @current_user.hash_id, protocol: :webcal, format: :ics) %></td>
      <td class="text-right"><%= link_to 'Subscribe', ical_url(hash_id: @current_user.hash_id, protocol: :webcal, format: :ics), class:"btn btn-primary" %></td>
  </tbody>
</table>

<%= link_to "Back", :back, class:"btn btn-outline-secondary" %>
<%= link_to "Edit Profile", edit_user_registration_path, class:"btn btn-primary" %>