<h5>Email</h5>
<p><%= @current_user.email %></p>
<h5>Calendar Feed</h5>
<p>
  <%= calendar_url(id: @current_user.calendar, protocol: :webcal, format: :ics) %>
  <%= link_to 'Subscribe', calendar_url(id: @current_user.calendar, protocol: :webcal, format: :ics) %>
</p>

<%= link_to "Back", root_path, class:"btn btn-primary" %>
<%= link_to "Edit Profile", edit_user_registration_path, class:"btn btn-primary" %>